

/* Set background color for the entire page */
body {
    background: url(../images/shadow.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #f8f6f6; 
    font-family: Arial, sans-serif;
}

/* Style the header */
header {
    background: url(../images/header.jfif) no-repeat;
    background-size: cover;
    min-height: 50vh;
    background-position: center;
    color: #cac7c7;
    font-size: 25px;
    border-radius: 20px;
    text-align: center;
    text-shadow: #eee0e0;
    padding: 30px 48px;
}
.head .gate{
    margin-top: -20px;
    font-size: 18px;
}
.head .welcome{
    margin-top: -1px;
}

/* Style navigation links */
.topnav{
    border-radius: 20px;
    background: #0000006d;
    overflow: hidden;
}
.topnav a{
    border-radius: 20px;
    width: 9.7%;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 30px;
    text-decoration: none;
    font-size: 30px;
}
.topnav a:hover{
    background-color: #04AA6D;
    color: black;
}
.topnav a:active{
    background-color: #ddd;
    color: white;
}
.topnav .login:hover{
    background-color: rgba(0, 255, 255, 0.762);
}
.topnav .home{
    background-color: #04AA6D;
}
/* Style section headings */
.about{
    width: 92.5%;
    background: transparent;
    border: 2px solid rgba(111, 98, 98, 0.556);
    backdrop-filter: blur(100%);
    box-shadow: 0 0 10px rgba(0 ,0 ,0 ,-1);
    color: #645d5d;
    border-radius: 20px;
    padding: 30px 48px;

}
.aboutpic{
    max-width: 10px;
   
}
.about .aboutnote{
    margin-right: 5cm;
    text-align: right;
    font-size: 20px;
}

h2 {
    color: #333;
    padding-bottom: 10px;
}

.rights{
    text-align: center;
    color: #333333be;
}
.program{
    border-radius: 20px;
    background: #0000006d;
    overflow: hidden;
}
.program a{
    margin: 20px;
    border-radius: 20px;
    width: 16%;
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;

}
.program a:hover{
    margin: 20px;
    background-color: #783939d0;
    color: black;
}

@media screen and (max-width: 600px) {
    header{
        min-height: 25vh;
        font-size: 8px;
    }
    .head .welcome{
        margin-top: -15px;
    }
    .head .gate{
        margin-top: -5px;
        font-size: 8px;
    }

    .topnav a{
        border-radius: 20px;
        width: 9px;
        float: left;
        color: #f2f2f2;
        text-align: center;
        align-items: justify;
        padding: 14px 16px;
        text-decoration: none;
    }
    .topnav .login{
        margin-left: 0%;
    }

    .aboutpic img{
        max-width: 200px;
    }
    .about .aboutnote{
        text-align: center;
        margin-right: 0%;
    font-size: 10px;
    }
    .about{
        width: 400px;
    }
    .topnav a{
        border-radius: 20px;
        width: 8%;
        float: left;
        color: #f2f2f2;
        text-align: center;
       padding: 10px 25px;
        text-decoration: none;
        font-size: 8px;
    }

    .program a{
        margin: 0px;
        border-radius: 20px;
        width: 18%;
        float: left;
        color: #f2f2f2;
        text-align: center;
        padding: 8px 15px;
        text-decoration: none;
        font-size: 10px;
    
    }
    .rights{
        text-align: center;
        color: #333333be;
        font-size: 10px;
    }
    
}
